<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Net1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup><userSettings>
        <Net1.Properties.Settings>
            <setting name="NetConfig_SynapsePermanenceThreshold" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="NetConfig_SynapsePermanenceIncrease" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="NetConfig_SynapsePermanenceDecrease" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="NetConfig_DendriteActivationThresholdProximal"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NetConfig_DendriteActivationThresholdBasal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NetConfig_DendriteActivationThresholdApical" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NetConfig_ColumnStimulusThreshold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NetConfig_ZoneSizePercProximal" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="NetConfig_ZoneCoveragePercProximal" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="NetConfig_ZoneSizePercBasal" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="NetConfig_ZoneCoveragePercBasal" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="NetConfig_ZoneSizePercApical" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="NetConfig_ZoneCoveragePercApical" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="NetConfig_NumCellsInColumn" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NetConfig_ColumnsTopPercentile" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="NetConfig_NumEpochsToTrain" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NetConfig_ActivationDensityInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NetConfig_ActivationDensityTarget" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="RefreshArea1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshArea2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshArea3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SparsenessParamSearchEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFileOpen" serializeAs="String">
                <value>""</value>
            </setting>
        </Net1.Properties.Settings>
    </userSettings>
</configuration>
